## Sets

A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries.

-- Python documentation

In [65]:
a = {1, 2, 3, 4}
# simple example of set

In [66]:
a

{1, 2, 3, 4}

In [67]:
type(a)

set

In [68]:
b = {1, 2, 3, 1, 2, 3}
# set with duplicate elements

In [69]:
b
# set automatically removes duplicate elements

{1, 2, 3}

In [70]:
c = set()
# way to create an empty set

In [73]:
c

set()

In [74]:
bool(c)

False

In [71]:
type(c)

set

In [75]:
d = {}
# this is NOT AN EMPTY SET

In [76]:
d

{}

In [77]:
type(d)

dict

Don't confuse the curly braces of sets with dictionaries.

### few more ways to create sets 

You could pass in any sequence as an input as well

In [78]:
e = set("apple")
e

{'a', 'e', 'l', 'p'}

In [79]:
f = set(["apple", "orange", "apple", "mango", "mango"])
f

{'apple', 'mango', 'orange'}

In [80]:
g = set(("pine", "red", "green", "green"))
g

{'green', 'pine', 'red'}

In [11]:
h = set({"apple":"red", "pine":"brown", "lemon":"yellow"})
h

{'apple', 'lemon', 'pine'}

### Note

Sets are mutable objects because they are subject to change. Just like lists, and dictionaries.

## Operations

In [81]:
a = set("apple")
b = set("orange")

In [82]:
a

{'a', 'e', 'l', 'p'}

In [83]:
b

{'a', 'e', 'g', 'n', 'o', 'r'}

In [84]:
a - b
# this gives the letters in "a" but not in "b"

{'l', 'p'}

In [16]:
b - a
# gives the letters in "b" but not in "a"

{'g', 'n', 'o', 'r'}

In [17]:
a | b
# union of two sets

{'a', 'e', 'g', 'l', 'n', 'o', 'p', 'r'}

In [18]:
a & b
# intersection of two sets

{'a', 'e'}

In [19]:
a ^ b
# letters in a or b but not both

{'g', 'l', 'n', 'o', 'p', 'r'}

In [85]:
len(a)
# length of set

4

## Set methods

### add

Add's a new element to the set

In [86]:
a

{'a', 'e', 'l', 'p'}

In [87]:
a.add("z")

In [88]:
a

{'a', 'e', 'l', 'p', 'z'}

### difference

Takes the difference between two sets. Just like a - b.

In [90]:
a = set("apple")
b = set("orange")

In [91]:
a - b

{'l', 'p'}

In [92]:
a.difference(b)

{'l', 'p'}

In [93]:
a

{'a', 'e', 'l', 'p'}

In [94]:
a.difference_update(b)
# instead of creating a new set, it updates the output to the set "a" in this case.

In [95]:
a

{'l', 'p'}

### discard 

Removes the given element from the set, the element need not be a member of the set.

In [96]:
a = set("apple")
b = set("orange")

In [97]:
a

{'a', 'e', 'l', 'p'}

In [98]:
a.discard("a")

In [99]:
a

{'e', 'l', 'p'}

In [100]:
a.discard("z")
# trying to remove an element not in set

In [101]:
a

{'e', 'l', 'p'}

### intersection

returns the items that are both the sets. Like "a & b"

In [102]:
a = set("apple")
b = set("orange")

In [103]:
a & b

{'a', 'e'}

In [104]:
a.intersection(b)

{'a', 'e'}

In [105]:
a.intersection_update(b)
# instead of creating a new set, updates the output to set "a"

In [106]:
a

{'a', 'e'}

### isdisjoint

To check if two sets are completely different.

In [107]:
a = set("apple")
b = set("orange")

In [108]:
a.isdisjoint(b)

False

In [109]:
c = {"a", "e"}
d = {"z", "x"}

In [110]:
c.isdisjoint(d)

True

### issubset

To check if a set is a subset of other set.

In [111]:
a = set("apple")
b = set("orange")

In [112]:
a.issubset(b)

False

In [113]:
b

{'a', 'e', 'g', 'n', 'o', 'r'}

In [114]:
c = {"e", "g"}

In [115]:
c.issubset(b)

True

### issuperset

To check if a set if a superset of other. Let's take the example of sets a, b and c from above.

In [116]:
a

{'a', 'e', 'l', 'p'}

In [117]:
b

{'a', 'e', 'g', 'n', 'o', 'r'}

In [118]:
c

{'e', 'g'}

In [119]:
a.issuperset(b)

False

In [120]:
b.issuperset(c)

True

### pop

Removes an element at random

In [121]:
b = set("orange")

In [122]:
b.pop()

'g'

In [123]:
b

{'a', 'e', 'n', 'o', 'r'}

### remove 

Removes the given element from the set. The element must be a member of the set, else throwns a **KeyError**.

In [124]:
b = set("orange")

In [125]:
b

{'a', 'e', 'g', 'n', 'o', 'r'}

In [126]:
b.remove("o")

In [127]:
b

{'a', 'e', 'g', 'n', 'r'}

In [128]:
b.remove("z")

KeyError: 'z'

### symetric difference 

Returns the elements that are present in only one of the sets. Like "a ^ b".

In [130]:
a = set("apple")
b = set("orange")

In [131]:
a.symmetric_difference(b)

{'g', 'l', 'n', 'o', 'p', 'r'}

In [132]:
a.symmetric_difference_update(b)
# updates the set "a" with the output

In [133]:
a

{'g', 'l', 'n', 'o', 'p', 'r'}

In [ ]:
a.