# Strings

**Sequence** of characters.

### Strings in Python

In [1]:
name_one = 'yajwa'
# name_one is a string enclosed in single quotes

In [2]:
name_one

'yajwa'

In [3]:
name_two = "yajwa"
# name_two is a string enclosed in double quotes

In [4]:
name_two

'yajwa'

In [5]:
name_two == name_one

True

In [6]:
type(name_one)

str

In [7]:
type(name_two)

str

Both the above representation means the same. You can choose to use anyone of them. But, maintain consistency. Personally, I prefer using double quotes.

Use the in build **type** function to check if an object is string, or not.

### Exercise to check if the following object is string, or not

In [8]:
a = "apple"
type(a)

str

In [9]:
a = 34.3
type(a)

float

In [10]:
a = "34.3"
type(a)

str

In [11]:
a = '34.3'
type(a)

str

In [12]:
a = "" # empty string
type(a)

str

In [13]:
bool(a)

False

In [15]:
bool(name_one)

True

### Notes

If you want to have a single quote, or a double quotes in your string, make sure to escape the quotes that you want to use, or use the other quoting style. Examples as follows,

Please, take a look at the escape characters such as \n, \t, \r, and more. These, have different meaning.

In [16]:
a = "I can't do this" # works fine because single quotes used within double quotes
a

"I can't do this"

In [17]:
a = 'I can't do this'
# doesn't work - You could see the difference in text colors

SyntaxError: invalid syntax (<ipython-input-17-09424a3a4dea>, line 1)

In [18]:
a = 'I can\'t do this'
# this works fine
a

"I can't do this"

In [20]:
"apple\""

'apple"'

## String operations

###  Concatenation 

Use the "+" operator to concatenate two string. You could see how the same operator works differently on different types.

We could customize this, when we learn about Classes.

In [32]:
4 + 9

13

In [33]:
"4" + "9"

'49'

In [21]:
"Python" + " " + "programming"

'Python programming'

In [22]:
"Python" + " programming"

'Python programming'

In [23]:
"Python " "programming"
# this works only with literals, not with variables

'Python programming'

In [25]:
str_a = "Python "
str_b = "programming"

In [26]:
str_a + str_b

'Python programming'

In [27]:
str_a str_b

SyntaxError: invalid syntax (<ipython-input-27-44aa218602d4>, line 1)

In [28]:
"apple" + 5

TypeError: must be str, not int

### Multiplication of strings 

You cannot multiple a string, and string. But, you could multiple string with an integer(n). This just repeats the string, "n" times.

In [29]:
"apple "*5

'apple apple apple apple apple '

In [30]:
str_a*5

'Python Python Python Python Python '

### Length of a string

Use the in-built **len** function to find the length of a given string.

In [34]:
len("apple")

5

In [31]:
len("apple " + "vanilla")

13

## Indexing

If you want to get a particular character of a string.

In [34]:
fruit = "apple"

In [35]:
fruit[0]

'a'

In [36]:
fruit[1]

'p'

In [39]:
fruit[2]

'p'

In [40]:
fruit[3]

'l'

In [41]:
fruit[4]

'e'

In [42]:
fruit[5]

IndexError: string index out of range

In [43]:
fruit[-1]

'e'

In [44]:
fruit[-2]

'l'

In [45]:
fruit[-3]

'p'

In [46]:
fruit[-4]

'p'

In [47]:
fruit[-5]

'a'

In [48]:
fruit[-6]

IndexError: string index out of range

In [37]:
a = "345"

### Slicing

In [39]:
fruit

'apple'

In [40]:
fruit[::]
# by default

'apple'

In [51]:
fruit[0:len(fruit):1]
# equivalent of the above

'apple'

In [52]:
fruit[0:2]

'ap'

In [55]:
fruit[::3]

'al'

In [57]:
fruit[50:100]

''

In [59]:
fruit[0:len(fruit):-1]

''

In [60]:
fruit[-1:-6:-1]

'elppa'

In [63]:
fruit[-1:-4:-1]

'elp'

In [64]:
fruit[-1:1:-1]

'elp'

### Introduction to simple methods

Use **dir** in built function to find the methods available for an object.

In [57]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [58]:
fruit.upper()
# convert to upper case

'APPLE'

In [66]:
fruit
# assign to variable to that results are reflected

'apple'

In [67]:
fruit = fruit.upper()

In [68]:
fruit

'APPLE'

In [69]:
fruit.lower()

'apple'

In [70]:
fruit.replace("P", "B")

'ABBLE'

In [71]:
fruit.replace("P", "B", 1)

'ABPLE'

In [72]:
fruit.count("P")

2

In [70]:
fruit.find("PP")

1

### Multiline strings

In [78]:
a = """this is to show multiline
string.
Yes, it works
"""
a

'this is to show multiline\nstring.\nYes, it works\n'

In [76]:
b = "apple is\
sweet"

In [77]:
b

'apple issweet'