# Lists

Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type. 

-- Python Documentation

In [118]:
lst1 = [1, 2, 3, 4]
# list of numbers
lst1

[1, 2, 3, 4]

In [119]:
lst2 = ["apple", "orange", "banana"]
# list of strings
lst2

['apple', 'orange', 'banana']

In [120]:
lst3 = [1, 23.4, True, "black"]
# list of mixed data types

In [121]:
lst3

[1, 23.4, True, 'black']

In [122]:
lst4 = []
# empty list

In [123]:
lst4

[]

In [124]:
lst5 = list()

In [125]:
lst5

[]

## Operations

Most operations that we worked on with strings, works on lists as well. Let's run quickly over them!

In [148]:
lst = [796, 7, "Billie Jean", True]

### length 

Just like how we found the length of string using **len** in built function, we find the length of lists as well.

In [127]:
len(lst)

4

### Concatenation

The same **+** operator is used for concatenation of lists as well.

In [130]:
lst + ["velvi"]

[796, 7, 'Billie Jean', True, 'velvi']

### Multiplying with an integer

In [131]:
"apple"*2

'appleapple'

In [134]:
lst*2

[796, 7, 'Billie Jean', True, 796, 7, 'Billie Jean', True]

### Indexing and slicing

It exactly works the same way as we saw in strings.

In [135]:
lst

[796, 7, 'Billie Jean', True]

In [136]:
lst[0]
# fetching first element using positive indexing

796

In [49]:
lst[-4]
# fetching first element using negative indexing

796

In [137]:
lst[:2]
# fetching two elements using slicing

[796, 7]

In [138]:
lst[0:5:2]
# fetching elements with step 2

[796, 'Billie Jean']

### Clarification - Step cannot be zero 

As we know the step value by default is 1, if you change it to **zero**, it's going to throw an error.

In [139]:
lst[::2]

[796, 'Billie Jean']

In [140]:
lst[::0]

ValueError: slice step cannot be zero

## List methods

In [141]:
lst

[796, 7, 'Billie Jean', True]

### append

Adds an item at the end of the list.

In [149]:
lst.append("winter")

In [151]:
lst

[796, 7, 'Billie Jean', True, 'winter']

Compare list methods with strings, with respect to strings, you need to assign to a variable, so that the new results are saved. **This is not the case with lists**.

This is because **lists** are **mutable** objects, whereas **strings** are **immutable**.

### extend

This is similar to concatenation of lists

In [153]:
lst1 = [1, 2, 3, 4]

In [154]:
lst.extend(lst1)

In [155]:
lst

[796, 7, 'Billie Jean', True, 'winter', 1, 2, 3, 4]

### count

Counts the value of the input in the list.

In [156]:
lst.count("2")

0

In [157]:
lst.count(2)

1

###  insert

Inserts a given value at a given index.

In [158]:
lst

[796, 7, 'Billie Jean', True, 'winter', 1, 2, 3, 4]

In [159]:
lst.insert(2, "velvi")

In [160]:
lst

[796, 7, 'velvi', 'Billie Jean', True, 'winter', 1, 2, 3, 4]

###  pop

pops the element in the given index

In [161]:
lst

[796, 7, 'velvi', 'Billie Jean', True, 'winter', 1, 2, 3, 4]

In [162]:
lst.pop(4)

True

In [163]:
lst

[796, 7, 'velvi', 'Billie Jean', 'winter', 1, 2, 3, 4]

### remove

Remove the element from the list. 

Note: pop using index, and remove uses the value itself.

In [164]:
lst

[796, 7, 'velvi', 'Billie Jean', 'winter', 1, 2, 3, 4]

In [165]:
lst.remove("winter")

In [166]:
lst

[796, 7, 'velvi', 'Billie Jean', 1, 2, 3, 4]

###  sort, and reverse

A basic sort would set the list in ascending order.

In [167]:
lst1 = [32, 1, 3, 2, 323, 100]

In [169]:
lst1.sort()

In [173]:
lst1

[1, 2, 3, 32, 100, 323]

In [174]:
lst1.reverse()
# revese the list

In [176]:
# reversing using slicing
lst1[::-1]

[1, 2, 3, 32, 100, 323]

In [177]:
lst1

[323, 100, 32, 3, 2, 1]

## Mutable and immutable objects 

**Mutable**: Mutable objects can change their value but keep their id().

Return the “identity” of an object. This is an integer which is guaranteed to be unique and constant for this object during its lifetime. Two objects with non-overlapping lifetimes may have the same id() value.

CPython implementation detail: This is the address of the object in memory.

**Immutable**: An object with a fixed value. Immutable objects include numbers, strings and tuples. **Such an object cannot be altered**. A new object has to be created if a different value has to be stored. They play an important role in places where a constant hash value is needed, for example as a key in a dictionary.

-- Definitions from Python documentation

In [178]:
text = "hello world"

In [179]:
text[0]

'h'

In [180]:
text[0] = "b"

TypeError: 'str' object does not support item assignment

In [181]:
lst1 = [1, 2, 3, 4]

In [182]:
lst1.append(23)
# appending an item

In [183]:
lst1

[1, 2, 3, 4, 23]

In [184]:
lst2 = lst1

In [185]:
lst2

[1, 2, 3, 4, 23]

In [186]:
lst1

[1, 2, 3, 4, 23]

In [187]:
lst1.remove(1)
# remove item 1 from the lst1

In [188]:
lst1

[2, 3, 4, 23]

In [189]:
lst2

[2, 3, 4, 23]

In [190]:
lst2.extend(["apple", "banana"])

In [191]:
lst2

[2, 3, 4, 23, 'apple', 'banana']

In [192]:
lst1

[2, 3, 4, 23, 'apple', 'banana']

### Ways to avoid this scenario.

In [193]:
lst2 = lst1.copy()
# use the "copy" method

In [194]:
lst1

[2, 3, 4, 23, 'apple', 'banana']

In [195]:
lst2

[2, 3, 4, 23, 'apple', 'banana']

In [196]:
lst1[2] = "orange"

In [197]:
lst1

[2, 3, 'orange', 23, 'apple', 'banana']

In [198]:
lst2

[2, 3, 4, 23, 'apple', 'banana']

In [199]:
lst2 = lst1[:]

In [200]:
lst1.reverse()

In [201]:
lst1

['banana', 'apple', 23, 'orange', 3, 2]

In [202]:
lst2

[2, 3, 'orange', 23, 'apple', 'banana']

## List of lists

In [203]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [204]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [205]:
a[0]

[1, 2, 3]

In [206]:
a[-1]

[7, 8, 9]

In [207]:
a[0][1]

2

In [212]:
a[-1][:2]

[7, 8]

In [213]:
a[:2]

[[1, 2, 3], [4, 5, 6]]

In [214]:
v = [1, "2", True, [4, 5, "banana"], 43.4]

In [215]:
v

[1, '2', True, [4, 5, 'banana'], 43.4]

In [216]:
v[-2][-1]

'banana'

In [217]:
v[3][-1]

'banana'

In [218]:
v[3][2]

'banana'

In [219]:
v[-2][2]

'banana'

In [221]:
lst

[796, 7, 'velvi', 'Billie Jean', 1, 2, 3, 4]

In [222]:
lst[2] = "orange"

In [223]:
lst

[796, 7, 'orange', 'Billie Jean', 1, 2, 3, 4]

In [224]:
lst[:2] = ["hello", "world"]

In [225]:
lst

['hello', 'world', 'orange', 'Billie Jean', 1, 2, 3, 4]

In [226]:
lst[:2] = ["make", "me", "some", "coffee"]

In [228]:
lst

['make', 'me', 'some', 'coffee', 'orange', 'Billie Jean', 1, 2, 3, 4]

In [229]:
lst.clear()

In [230]:
lst

[]