# Tuples

As we saw sequences such as strings, list. Tuple follows them. Tuples are comma separated, enclosed in parantheses (optional - but recommended), and immutable object.

In [104]:
a = (1, 2, 3)
# simple example
a

(1, 2, 3)

In [106]:
type(a)

tuple

In [107]:
b = 1, 2, 3
b

(1, 2, 3)

In [108]:
type(b)

tuple

Just like lists, tuples can have compound types as well. Example as follows,

In [109]:
tup = (1, 2, 3, "ancient", "target", True)

In [110]:
tup

(1, 2, 3, 'ancient', 'target', True)

In [111]:
empty_tuple = tuple()
# create an empty tuple

In [112]:
empty_tuple

()

In [113]:
bool(empty_tuple)

False

In [114]:
false_val = 0, 0.0, "", [], (), False

In [115]:
false_val

(0, 0.0, '', [], (), False)

In [116]:
type(false_val)

tuple

In [117]:
empty_tuple2 = ()
# another way to create an empty tuple

In [118]:
empty_tuple2

()

In [119]:
type(empty_tuple2)

tuple

## Tuple of one item - Singleton

This is an interesting case in Python. Remember that parantheses are optional in tuples.

In [120]:
a = (1)
# not a tuple, just value 1
a

1

In [121]:
type(a)

int

In [ ]:
b = (1)

In [122]:
b = 1
# (1) and 1 must be equal in Tuples languages

In [123]:
type(b)

int

We know 1 is just an integer, so having (1) is again to be an integer.

In [124]:
a = (1, )
# have a comma to indicate a tuple

In [125]:
a

(1,)

In [126]:
type(a)

tuple

In [127]:
b = 1,

In [128]:
type(b)

tuple

## Indexing, and slicing

Both indexing, and slicing works exactly the same way like in strings, and lists.

Remember you can't assign values using indexing, and slicing like you do in lists (mutable), because tuples are immutable. So, it works exactly like it works on strings.

In [134]:
tup

(1, 2, 3, 'ancient', 'target', True)

In [135]:
tup[0]
# first element

1

In [136]:
tup[-2]
# second element from last

'target'

In [137]:
tup[1]

2

In [138]:
tup[1] = 34
# assignment is going to throw error in tuples

TypeError: 'tuple' object does not support item assignment

In [139]:
tup[:2]
# slice first two elements

(1, 2)

In [140]:
tup[::-1]
# reversing a tuple

(True, 'target', 'ancient', 3, 2, 1)

In [141]:
tup

(1, 2, 3, 'ancient', 'target', True)

In [142]:
tup2 = tup[::-1]
# remember to use variables to store values

In [143]:
tup2

(True, 'target', 'ancient', 3, 2, 1)

## Methods

Tuples support only two methods, only **count**, and **index**. Because the others methods that we saw in lists would only be applicable for mutable objects.

In [144]:
tup

(1, 2, 3, 'ancient', 'target', True)

In [145]:
tup.count(2)

1

In [146]:
tup.index("target")

4

In [147]:
tup.index("target", 0, 3)
# index method with start and end index

ValueError: tuple.index(x): x not in tuple

In [148]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [149]:
(1, 2, 3)*2

(1, 2, 3, 1, 2, 3)

In [150]:
len(tup)

6

## Tuple of tuples

Just like we saw list of lists in the last video, the same thing is just possible with tuples. Let's see examples

In [151]:
tup = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
# 2-D matrix

In [152]:
tup

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [87]:
tup[0]
# first item of tuple - which is again a tuple

(1, 2, 3)

In [88]:
tup[0][1]

2

In [153]:
tup[-1][-2]

8

In [154]:
tup[2][-2]

8

In [90]:
tup[:2][0]
# slicing and indexing together

(1, 2, 3)

## Lists inside Tuple

In [158]:
a = (1, 2, 3, ["History", "Math", "Science"])

In [92]:
a[0]

1

In [93]:
a[-1]

['History', 'Math', 'Science']

In [155]:
a[0] = 23
# won't work

TypeError: 'tuple' object does not support item assignment

In [156]:
a[-1] = [3, 4, 5]
# won't work

TypeError: 'tuple' object does not support item assignment

In [159]:
a

(1, 2, 3, ['History', 'Math', 'Science'])

In [160]:
a[-1]

['History', 'Math', 'Science']

In [161]:
a[-1][0] = "Spanish"
# works - we are changing an item in the list, not tuple here

In [163]:
a

(1, 2, 3, ['Spanish', 'Math', 'Science'])

## Tuples inside List

In [164]:
b = [1, 2, 3, ("History", "Math", "Science")]

In [165]:
b[0] = 34
# works - we are changing item of a list

In [166]:
b

[34, 2, 3, ('History', 'Math', 'Science')]

In [167]:
b[-1] = ("Physics", "Chemistry", "Biology")
# works again - we are changing an item in the list

In [169]:
b

[34, 2, 3, ('Physics', 'Chemistry', 'Biology')]

In [171]:
b[-1]

('Physics', 'Chemistry', 'Biology')

In [170]:
b[-1][0] = "Science"
# won't work - we are trying to change an item in the tuple now

TypeError: 'tuple' object does not support item assignment